header.main-header
  img(src="assets/images/logo.svg" alt="Site logo")
  ul.icons-list
    li.icons-list__item: img(src="assets/images/icon-document.svg", alt="Document icon")
    li.icons-list__item: img(src="assets/images/icon-folder.svg", alt="Folder icon")
    li.icons-list__item: img(src="assets/images/icon-upload.svg", alt="Upload icon")