article.article
  header.main-header
    img.logo(src="assets/images/logo.svg" alt="Site logo")
  ul.icons-list
    li.icons-list__item: a.icons-list__link(href="#"): img.icons-list__icon(src="assets/images/icon-document.svg", alt="Document icon")
    li.icons-list__item: a.icons-list__link(href="#"): img.icons-list__icon(src="assets/images/icon-folder.svg", alt="Folder icon")
    li.icons-list__item: a.icons-list__link(href="#"): img.icons-list__icon(src="assets/images/icon-upload.svg", alt="Upload icon")