article.available-storage
  p.available-storage__description You've used 810 GB of your storage
  .available-storage__progress-bar
    .available-storage__min-max
      span 0GB
      span 1000 GB
  +tooltip("185", "GB left", "available-storage__tooltip")