article.available-storage
  p.available-storage__description You've used #[strong 815 GB] of your storage
  .available-storage__progress-bar
    .available-storage__min-max
      span.set-font-size-small 0GB
      span.set-font-size-small 1000 GB
  +tooltip("185 ", " GB left", "available-storage__tooltip")